/*
  @tidytype/base
  Authors: Eivind Ingebrigtsen & Vegard Bolstad
*/

/*
  Variables
*/

body {
  --text-base-size: 20px;
  --text-scale-factor: 1.25;
  --text-line-height: 1.5;
  --block-margin-height: calc(var(--text-line-height) * 1em);
  --grid-size: calc(var(--text-base-size) * var(--text-line-height));
  --grid-color: #e7e7e7;
  --debug-bg-color: rgba(255,0,0,.075);
  --text-color:#171923;
  --bg-color: #f7f7f9;
  --alt-bg-color: #f2f3f4;
  --highlight-bg-color: #f2f232;
  --border-color: #e7e7e7;
  --quote-bg-color: #F2f2f2;
  --quote-text-color: var(--text-color);
}
@media (min-width: 768px){
  body{
    --text-base-size: 24px;
  }
  h1{
    line-height: 1.35;
  }
  h2,h3{
    line-height: 1.8;
  }
}
@media (min-width: 1100px){
  body{
    --text-base-size: 32px;
  }
  h1{
    line-height: 1.2;
  }
  h2{
    line-height: 1.6;
  }
  h3{
    line-height: 2.4;
  }
}
@media (min-width: 1400px){
  body{
    --text-base-size: 40px;
  }
}
.dark body{
  --text-color:#f7f8f9;
  --alt-bg-color: #232425;
  --bg-color: #121315;
  --highlight-bg-color: #f2f232;
  --border-color: #373737;
  --quote-bg-color: #484848;
  --quote-text-color: var(--text-color);
}

/*
  Reset elements
*/

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

/*
  Debug
*/
.debug * {
  background-color: var(--debug-bg-color);
}
.debug body{
  background-size: var(--grid-size) var(--grid-size);
  background-image:
    linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
}

body{
  font-size: var(--text-base-size);
  line-height: var(--text-line-height);
  font-family: serif;
  font-synthesis: none;
  color: var(--text-color);
  counter-reset: 
    figure 0 
    reference 0
    chapter 0;
}

/*
  Basic principles
  Line-height is 1.5 of base text size - all margins are aligned towards that.
*/

h1,h2,h3,h4{
  font-family: sans-serif;
  margin-top: calc(var(--text-base-size) * 1.5);
}
h1{
  font-size: calc(var(--text-scale-factor) * 4rem);
  letter-spacing: -0.025rem;
}
h2::before{
  counter-increment: chapter;
}
h2{
  font-size: calc(var(--text-scale-factor) * 3rem);
  letter-spacing: -0.0675rem;
}
h3{
  font-size: calc(var(--text-scale-factor) * 2rem);
  letter-spacing: -0.03375rem;
}
h4{
  font-size: var(--text-scale-factor)rem;
}

h5, h6, b, strong, dt{
  font-weight: 900;
}

p + p{
  margin-top: 1.5em;
}

i, em, cite{
  font-style: italic;
}
em{
  background-color: ;
}

/*

*/
hr{
  background: transparent;
  height: var(--block-margin-height);
  margin: var(--block-margin-height) 0;
  box-sizing: border-box;
  border-top: 1px solid var(--quote-text-color);
}

figure::before{
  counter-increment: figure;
  position: absolute;
  bottom: -1.5em;
  left: 1.5em;
  content: "Figure " counter(figure);
  font-size: .5em;
  font-family: monospace;
}

figure{
  margin: 1.5em 0;
  position: relative;
}

blockquote{
  font-size: 1em;
  padding: 1.5em 1.5em;
  margin: 0 1.5em;
  border-left: 2px solid var(--border-color);

}
blockquote p{
  font-size: inherit;
}
blockquote + figcaption{
  text-align: right;
}



dd {
  padding-left: 2em;
}

ul,ol,dl,table{
  margin-top: 1.5em;
}
ul ul, ol ol{
    margin-top: 0;
    padding-left: 2em;
}
li{
  line-height: 1.5em;
  margin: 0;
}

.content{
  margin: 0 auto;
  padding: 1.5em;
  max-width: 36em;
}

table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
thead, tfoot{
  background-color: var(--alt-bg-color);
  text-align: left;
}
thead th{
  border-top: 1px solid var(--border-color)
}
thead th:first-child{
  border-top-left-radius: 0.5rem;
}
thead th:last-child{
  border-top-right-radius: 0.5rem;
}
tfoot th:first-child{
  border-bottom-left-radius: 0.5rem;
}
tfoot th:last-child{
  border-bottom-right-radius: 0.5rem;
}
tbody tr:nth-of-type(even){
  background-color: var(--alt-bg-color);
}
td,th{
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 0 .75em;
  line-height: 1.5em;
}
td:last-child,
th:last-child{
  border-right: 1px solid var(--border-color);
}


