/*
  @tidytype/graphy
  Authors: Eivind Ingebrigtsen & Vegard Bolstad
*/

/*
  Variables
*/
@import "variables.scss";
@import "devtools.scss";
@import "headers.scss";
@import "figure.scss";
@import "marks.scss";
@import "inline-elements.scss";
@import "example.scss";




/*
  Reset elements
*/
.tidytype *{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}



.tidytype{
  font-size: var(--tt-text-base-size);
  line-height: var(--tt-text-line-height);
  font-family: serif;
  font-synthesis: none;
  color: var(--tt-text-color);
  counter-reset:
    figure 0
    reference 0
    chapter 0
    section 0
    subsection 0;
}

/*
  Basic principles

*/
.tidytype{


p + p{
  margin-top: 1.5em;
}


/*

*/
hr{
  background: transparent;
  height: var(--tt-block-margin-height);
  margin: var(--tt-block-margin-height) 0;
  box-sizing: border-box;
  border-top: 1px solid var(--tt-quote-text-color);
}




dd {
  padding-left: 2em;
}

ul,ol,dl,table{
  margin-top: 1.5em;
}
ul ul, ol ol{
    margin-top: 0;
    padding-left: 2em;
}
li{
  line-height: 1.5em;
  margin: 0;
}

.content{
  margin: 0 auto;
  padding: 1.5em;
  max-width: 36em;
}

table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
thead, tfoot{
  background-color: var(--tt-alt-bg-color);
  text-align: left;
}
thead th{
  border-top: 1px solid var(--tt-border-color)
}
thead th:first-child{
  border-top-left-radius: 0.5rem;
}
thead th:last-child{
  border-top-right-radius: 0.5rem;
}
tfoot th:first-child{
  border-bottom-left-radius: 0.5rem;
}
tfoot th:last-child{
  border-bottom-right-radius: 0.5rem;
}
tbody tr:nth-of-type(even){
  background-color: var(--tt-alt-bg-color);
}
td,th{
  border-left: 1px solid var(--tt-border-color);
  border-bottom: 1px solid var(--tt-border-color);
  padding: 0 .75em;
  line-height: 1.5em;
}
td:last-child,
th:last-child{
  border-right: 1px solid var(--tt-border-color);
}


}